/* Vista moviles y tablets */
* {
    box-sizing: border-box;
    font-family: 'KoHo', Times, serif;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.container{
    max-width: 1440px;
    margin: 5% .2% 0 .5%;
}

.container-inputs{
    display: flex;
    justify-content: flex-end;
    margin: 0 0 5% .5%;
}

.container-inputs input{
    font-size: 15px;
    border: none;
    border-bottom: solid 1px black;
    outline: none;
}

.container-inputs button{
    margin-left: 1%;
    padding: 10px 20px;
    border-radius: 10px;
    background: linear-gradient(180deg,#005fbf,#003f7f);
    color: white;
    font-weight: bold;
    font-size: 15px;
}

.table-flip {
    display: flex;
    background: transparent;
    overflow-x: scroll;
    border-collapse: collapse;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border: solid 2px #005fbf;
}

.table-flip thead {
    display: flex;
    flex-shrink: 0;
    min-width: min-content;
    color: white;
}

.table-flip thead th {
    background: linear-gradient(180deg,#005fbf,#003f7f);
    font-size: 15px;
    padding: 11px 10px 11px 25px;
}

.table-flip tbody {
    display: flex;
}

.table-flip tbody td {
    border-bottom: solid 1px black;
    border-left: solid 1px black;
}

.table-flip tbody td:nth-child(2n + 1) {
    background-color: rgb(196, 239, 245);
}

.table-flip tbody td:last-child {
    border-bottom: solid 1px white;
}
  
.table-flip tr {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.table-flip td{
    padding: 10px 20px;
    text-align: left;
}

.table-flip th i{
    font-size: 17px;
    margin-left: 15px;
    transform: rotate(90deg);
}

.table-flip th i:hover{
    cursor: pointer;
}

.table-flip thead span{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

/* Vista escritorio pequeño en adelante */
@media screen and (min-width: 992px) {
    .container-inputs{
        margin-left: 0%;
        justify-content: flex-start;
    }

    .table-flip{
        margin-right: .2%;
        display: inline-block;
        overflow-x: auto;
        border-collapse: collapse;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0;
    }

    .table-flip thead {
        display: table-header-group;
        padding: 10px 20px;
    }

    .table-flip tbody {
        display: table-row-group;
        overflow: hidden;
    }

    .table-flip tbody tr{
        border-bottom: solid 1px black;
    }

    .table-flip tbody tr:last-child{
        border-bottom: none;
    }

    .table-flip tbody td {
        border: 0 0 0 0;
        border-right: solid 1px black;
        min-width: max-content;
        max-width: 1%;
        padding: 5px 0;
    }    
    .table-flip tbody td:last-child {
        border-right: none;
        border-bottom: solid 1px black;
    }

    .table-flip tr{
        display: table-row;
    }

    .table-flip td, .table-flip th{
        display: table-cell;
    }

    .table-flip th{
        border-right: solid 1px black;
    }

    .table-flip th:last-child{
        border-right: none;
    }

    .table-flip thead th {
        padding: 1.1rem 0.3rem 1.1rem 0.3rem;
    }
    .table-flip th i{
        transform: none;
    }
}